In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
# ESPN-designated team labels - they seem to correspond with teams consistently
teams = ["team-10-1", "team-10-2", "team-10-3", "team-10-4", "team-10-5", 
         "team-10-6", "team-10-7", "team-10-8", "team-10-9", "team-10-10",
         "team-10-11", "team-10-12", "team-10-13", "team-10-14", "team-10-15", 
         "team-10-16", "team-10-17", "team-10-18", "team-10-19", "team-10-20",
         "team-10-21", "team-10-22", "team-10-23", "team-10-24", "team-10-25", 
         "team-10-26", "team-10-27", "team-10-28", "team-10-29", "team-10-30" ]

In [17]:
# this obtains runs and home runs made @ home
x_yr = [];
x_team_id = [];
x_team = [];
x_runs33f = [];
x_hr33f = [];
x_runs34f = [];
x_hr34f = [];
x_runs33a = [];
x_hr33a = [];
x_runs34a = [];
x_hr34a = [];

for year in range(2002, 2019):
    strYear = str(year)
    
    # find (batting) runs and home runs at home
    url = "http://www.espn.com/mlb/stats/team/_/stat/batting/year/" + strYear + "/split/33"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    for team in teams:
        result = soup.find("tr", class_=team)
        stats_01   = result.find_all("td")
        x_yr.append(year)
        x_team_id.append(team)
        x_team.append(stats_01[1].text)
        x_runs33f.append(stats_01[4].text)
        x_hr33f.append(stats_01[8].text)
        
    # find (battiong) runs and home runs on the road
    url = "http://www.espn.com/mlb/stats/team/_/stat/batting/year/" + strYear + "/split/34"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    for team in teams:
        result = soup.find("tr", class_=team)
        stats_01   = result.find_all("td")
        x_runs34f.append(stats_01[4].text)
        x_hr34f.append(stats_01[8].text)

        
    # find runs against (pitching) at home
    url = "http://www.espn.com/mlb/stats/team/_/stat/pitching/year/" + strYear + "/split/33"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    for team in teams:
        result = soup.find("tr", class_=team)
        stats_01   = result.find_all("td")
        x_runs33a.append(stats_01[12].text)
        
    # find home runs against (pitching) at home
    url = "http://www.espn.com/mlb/stats/team/_/stat/pitching/year/" + strYear + "/split/33/type/expanded"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    for team in teams:
        result = soup.find("tr", class_=team)
        stats_01   = result.find_all("td")
        x_hr33a.append(stats_01[13].text)
        
    # find runs against (pitching) on the road
    url = "http://www.espn.com/mlb/stats/team/_/stat/pitching/year/" + strYear + "/split/34"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    for team in teams:
        result = soup.find("tr", class_=team)
        stats_01   = result.find_all("td")
        x_runs34a.append(stats_01[12].text)
        
    # find home runs against (pitching) on road
    url = "http://www.espn.com/mlb/stats/team/_/stat/pitching/year/" + strYear + "/split/34/type/expanded"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    for team in teams:
        result = soup.find("tr", class_=team)
        stats_01   = result.find_all("td")
        x_hr34a.append(stats_01[13].text)

In [18]:
print (len(x_yr), len(x_team_id), len(x_team))

510 510 510

In [19]:
# weave data from above into a data frame
df_pf_stats = pd.DataFrame({"year": x_yr, "team_id" : x_team_id, "team": x_team, 
                            "runs at home for": x_runs33f, "hr at home for": x_hr33f,
                            "runs on road for": x_runs34f, "hr on road for": x_hr34f,
                            "runs at home against": x_runs33a, "hr at home against": x_hr33a,
                            "runs on road against": x_runs34a, "hr on road against": x_hr34a })
df_pf_stats.head(20)

,year,team_id,team,runs at home for,hr at home for,runs on road for,hr on road for,runs at home against,hr at home against,runs on road against,hr on road against
0,2002,team-10-1,Baltimore,333,92,334,73,371,112,402,96
1,2002,team-10-2,Boston,396,77,463,100,353,68,312,78
2,2002,team-10-3,Anaheim,404,71,447,81,318,70,326,99
3,2002,team-10-4,Chicago,477,132,379,85,373,90,425,100
4,2002,team-10-5,Cleveland,375,95,364,97,425,76,412,66
5,2002,team-10-6,Detroit,270,61,305,63,393,61,471,102
6,2002,team-10-7,Kansas City,434,88,303,52,505,121,386,91
7,2002,team-10-8,Milwaukee,300,62,327,77,395,102,426,97
8,2002,team-10-9,Minnesota,396,68,372,99,336,82,376,102
9,2002,team-10-10,New York,434,108,463,115,339,78,358,66
10,2002,team-10-11,Oakland,427,116,373,89,331,66,323,69
11,2002,team-10-12,Seattle,368,64,446,88,329,82,370,96
12,2002,team-10-13,Texas,474,132,369,98,483,113,399,81
13,2002,team-10-14,Toronto,408,102,405,85,408,89,420,88
14,2002,team-10-15,Atlanta,362,82,346,82,280,64,285,59
15,2002,team-10-16,Chicago,339,99,367,101,376,105,383,62
16,2002,team-10-17,Cincinnati,382,85,327,84,416,112,358,61
17,2002,team-10-18,Houston,405,88,344,79,347,70,348,81
18,2002,team-10-19,Los Angeles,314,73,399,82,299,86,344,79
19,2002,team-10-20,Montreal,394,85,341,77,338,78,380,87

In [20]:
df_pf_stats.to_csv("park_factor_stats.csv", index=False, header=True)